<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha store</title>
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <%- include("./partials/header.ejs") %>
    
    <main>
        <div class="hero">
            <h1>Alpha store</h1>
            <p>The world best product selling store</p>
            <a href="#"><button>Explore</button></a>
        </div>

       <% if(locals.data){ %>
        <div class="product">
            <% data.forEach(function(data) { %>
                <div class="card">
                    <img src="/productimage/<%=data.imageUrl %>" alt="">
                    <h3><%= data.name %></h3>
                    <h3><%= data.price %></h3>
                    <button>Add to cart</button>
                </div>
            <% }) %>
        </div>
       <% } %>
    </main>
    
    <%- include("./partials/footer.ejs") %>

</body>
</html>